<!DOCTYPE html>
<html ng-app="databinding">
<head>
    <title>Data-Binding-Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var myvar = angular.module("databinding",[]);
        myvar.controller("myctrl",function($scope){

            $scope.name="";
            $scope.number="";

            $scope.submit=function(){
                $scope.name=$scope.name1;
                $scope.number=$scope.number1;
            }
            
        });
    </script>
</head>
<body>
    <div ng-controller="myctrl">

        Enter the name:<input type="text" ng-model="name1"><br>
        Enter the number :<input type="text" ng-model="number1"><br>

        <button ng-click="submit()">submit</button>
        <p> my name is :{{name}}</p>
        <p>my number is :{{number}}</p>

    </div>
</body>
</html>