<!DOCTYPE html>
<html ng-app="ifDemo">
<head>
    <title>If-Directive-Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var myvar = angular.module("ifDemo",[]);
        myvar.controller("myctrl",function($scope){

            $scope.status=true;

            $scope.show=function(){
                $scope.status=true;
            }
            $scope.hide=function(){
                $scope.status=false;
            }

        });
    </script>
</head>
<body>
    <div ng-controller="myctrl">

        <p ng-if="status"> This is Demo message</p>
        <button ng-click="show()">Show</button>
        <button ng-click="hide()">Hide</button>


    </div>
</body>
</html>